*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    background-color:#262546 ;
    color: white;
}

.container{
    margin: 30px auto 20px ;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.input input{
    width: 99%;
    margin-bottom: 10px;
    height: 30px;
}
.input{
    display: flex;
    flex-direction: row;

}
.btn{
    background: url("./assets/i.webp");
    background-size: cover;
    width: 30px;
    height: 30px;
}
.main_page{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: #555376;
}
.page_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
.page{
    padding: 30px;
    width: 23%;
    background-color: #555376;
    text-align: center;
}
img{
    width: 95px;
    height: 90px;
}
.text{
    font-size: 20px;
}
.num{
    font-size: 30px;
    margin-bottom: 5px;
}
.input input{
    padding-left: 5px;
}
.geo_btn{
    background: url("./assets/geolocationn.gif");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


