@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}
body{
    background-color:#262546 ;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.container{
    margin: 15px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}
.input input{
    width: 99%;
    margin-bottom: 10px;
    height: 30px;
}
.input{
    display: flex;
    flex-direction: row;

}
.btn{
    background: url("../assets/i.webp");
    background-size: cover;
    width: 30px;
    height: 30px;
}
.main_page{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: #555376;
}
.page_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.page{
    padding: 10px;
    width: 24.5%;
    background-color: #555376;
    text-align: center;

}
img{
    width: 95px;
    height: 90px;
}
.text{
    font-size: 20px;
}
.num{
    font-size: 30px;
    margin-bottom: 5px;
}
.input input{
    padding-left: 5px;
}
.geo_btn{
    background: url("../assets/geolocationn.gif");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.info{
    display: flex;
    flex-direction: column;
}
.info_row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

}
/*.page:hover{*/
/*    border: white 1px solid ;*/
/*    color: coral ;*/
/*}*/


